<h1>New post</h1>
<form class="" action="/posts" method="POST" enctype="multipart/form-data">
  <div class="">
    <label for="title">Title:</label>
    <br><input type="text" name="post[title]" id="title" value="" placeholder="Title">
  </div>
  <div class="">
    <label for="price">Price:</label>
    <br><input type="text" name="post[price]" id="price" value="" placeholder="Price">
  </div>
  <div class="">
    <label for="images">Images:</label>
    <br><input type="file" accept="images/*" name="images" id="images" value="" multiple>
  </div>
  <div class="">
    <label for="description">Description:</label>
    <br><textarea name="post[description]" id="description" rows="5" cols="40" placeholder="Description"></textarea>
  </div>
  <div class="">
    <label for="location">Location:</label>
    <br><input type="text" name="post[location]" id="location" value="" placeholder="Location">
  </div>
  <button type="submit" name="button">Publish post</button>
</form>
